.notFound{
    background-image: url("https://scx2.b-cdn.net/gfx/news/2019/galaxy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: move 8s linear infinite;
}
@keyframes move {
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 0%;
    }

}